
.grid {
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-header__count {
    width: 100%;
    height: 1.5rem;
    margin-left: 2rem;
    color: #bdbdbd;
    font-size: 0.8rem;
}

.grid-item {
    border: 1px solid #DBDCE1;
    border-radius: 0.5rem;
    width: 14rem;
    height: 12rem;
    margin: 0.4rem;
}

.grid-item:hover {
    border: 1px solid #838691; 
}

.grid-item__img {
    text-align: center;
    background-color: #f6f6f8;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 8.3rem;
    user-select: none;
    overflow: hidden;
}

.grid-item__name {
    color: #595959;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    padding: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.4rem;
    padding-left: 0.6rem;
}

.grid-item__line {
    color: #8c8c8c;
    font-size: 0.7rem;
    padding: 0.5rem;
    padding-top: 0rem;
    padding-left: 0.6rem;
}