.list {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.list-item {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ededf8;
    height: 2.3rem;
}

.list-item__name {
    flex: 55%;
    padding-top: 0.5rem;
    color: #595959;

}

.list-item__line {
    flex-basis: 25%;
    padding-left: 50px;
    padding-top: 0.5rem;
    color: #595959;

}

.list-item__img {
    flex-basis: 10%;
    text-align: right;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.list-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #ededf8;
}

.list-header__count {
    flex-basis: 10%;
    text-align: right;
    color: #bdbdbd;
}

.list-header__line {
    flex-basis: 25%;
    padding-left: 50px;
    color: #595959;
}

.list-header__name {
    flex: 55%;
    color: #595959;
}