.list {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.list__item--name {
    height: 2.3rem;
    flex: 65%;
    border-bottom: 1px solid #ededf8;
    padding-top: 0.5rem;
    color: #595959;

}

.list__item--line {
    flex-basis: 25%;
    border-bottom: 1px solid #ededf8;
    padding-left: 50px;
    height: 2.3rem;
    padding-top: 0.5rem;
    color: #595959;

}

.list__item--img {
    flex-basis: 8%;
    border-bottom: 1px solid #ededf8;
    text-align: right;
    height: 2.3rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
}

.list__header--count {
    border-bottom: 1px solid #ededf8;
    flex-basis: 8%;
    text-align: right;
    color: #bdbdbd;
}

.list__header--line {
    border-bottom: 1px solid #ededf8;
    flex-basis: 25%;
    padding-left: 50px;
    color: #595959;
}

.list__header--name {
    border-bottom: 1px solid #ededf8;
    flex: 65%;
    color: #595959;

}