.nav-bar {
    height: 50px;
    border-bottom: 1px solid #ededf0;
    position: relative;
}

.search-form {
    width: fit-content;
    margin-left: 2rem;
    position: absolute;
    top: 20%;
}

.search-form__input {
    outline: none;
    background-color: #f6f6f8;
    width: 20rem;
    color: #878788;
    height: 30px;
    padding-left: 2rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-form__svg {
    position: absolute;
    top: 0.9rem;
    left: 2.5rem;
    z-index: 1;
    pointer-events: none;
}

.search-form__clear-btn {
    background-color: #f6f6f8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #878788;
    height: 30px;
    width: 30px;
    position: absolute;
    cursor: pointer;
}

.search-form__clear-btn:hover {
    background-color: #e6e6e6;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    position: absolute;
    right: 20px;
    top: 14px;
}

.grid-btn {
    padding-top: 2px;
    width: fit-content;
    text-align: right;
    padding-right: 8px;
    padding-left: 8px;
}

.grid-btn__svg {
    cursor: pointer;
    width: 23px;
    height: 23px;
}

.grid-btn__svg:hover {
    background-color: #f6f6f8;
    border-radius: 3px;
}

.filter-btn {
    padding-top: 2px;
    width: fit-content;
    padding-right: 8px;
    padding-left: 8px;
    color: #878788;
}

.filter-btn:hover {
    font-weight: bold;
    cursor: pointer;
}

.list-btn {
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 2px;
}

.list-btn__svg {
    cursor: pointer;
    width: 23px;
    height: 23px;
}

.list-btn__svg:hover {
    background-color: #f6f6f8;
    border-radius: 3px;
}